@font-face {
	font-family: SiyuanHei_Medium;
	src: url('SourceHanSansCN-Medium-2.otf');
}

@font-face {
	font-family: SiyuanHei_Heavy;
	src: url('SourceHanSansCN-Heavy-2.otf');
}


@font-face {
	font-family: SiyuanSong_Heavy;
	src: url('SourceHanSerifSC-Heavy.otf');
}

@font-face {
	font-family: SiyuanSong_Medium;
	src: url('SourceHanSerifSC-Medium.otf');
}


body {
	margin: 0;
	text-align: center;
}

html, body{
	height: 100%;
}


div{
	display: inline-block;
	border-radius: 10px;
	text-align: center;
}

.link {
	color: gray;
}

.link:not(:hover) {
	text-decoration: none;
}

.background {
	position: relative;
	width: 100%;
	background: white;
}

.head {
	font-family: SiyuanSong_Heavy;
}

.select_region {
	width: 90%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	margin: 5% 5% 0 5%;
}

.select_region > button {
	border: 10px white hidden;
	height: 100%;
	width: 23%;
	border-radius: 30px;
	box-shadow: 2px 2px 3px #aaaaaa;
}

.select_region table {
	margin: 0 auto 5%;
	width: 100%;
	height: auto;
	font-size: 170%;
	text-align: center;
	font-family: SiyuanSong_Medium;
}

.select_region p {
	font-size: 400%;
	margin: 0.5em auto;
	font-family: SiyuanSong_Heavy;
	margin-top: 0;
}

.recommend {
	width: 23%;
	color: gray;
	font-size: 200%;
	font-family: SiyuanSong_Heavy;
}

.rule_region {
	font-size: 300%;
	font-family: SiyuanSong_Medium;
	width: 90%;
}

.rule_region > div {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 0;
}

.rule_region > div > div {
	width: 30%;
	border: 1px black solid;
	margin-bottom: 1em;
}

.rule_region > div > div > p {
	margin: 2%;
	text-align: left;
	font-size: 80%;
}

.stroke_table {
	display: inline-block;
	font-size: 200%;
	width: 90%;
}

.stroke_table > p {
	font-family: SiyuanSong_Medium;
}

.stroke_table table {
	font-family: SiyuanHei_Medium;
}


@media screen and (min-width: 1000px) {
	.background {
		width: 1000px;
		font-size: 10px;
	}
}