@font-face {
	font-family: SiyuanHei_Medium;
	src: url('SourceHanSansCN-Medium-2.otf');
}

@font-face {
	font-family: SiyuanHei_Heavy;
	src: url('SourceHanSansCN-Heavy-2.otf');
}


@font-face {
	font-family: SiyuanSong_Heavy;
	src: url('SourceHanSerifSC-Heavy.otf');
}


body {
	margin: 0 auto;
	width: 100%;
	background: black;
	text-align: center;
}

html, body{
	height: 100%;
}

div{
	display: inline-block;
	border-radius: 10px;
	text-align: center;
}

button {
	touch-action: manipulation;
}

details:not([open]) > summary::after {
	content: "更多";
}

details[open] > summary::after {
	content: "收起";
}

.link {
	color: gray;
}

.link:not(:hover) {
	text-decoration: none;
}

.upper_region {
	position: absolute;
	left: 5%;
	right: 5%;
	width: 90%;
	height: calc(100% - 510px);
	background: white;
	top: 45px;
}

.title {
	position: absolute;
	text-align: center;
	left: 0;
	right: 0;
	top: 0;
	width: 100%;
	line-height: calc(4% + 90px + 2.5rem);
	font-size: 6rem;
	font-family: SiyuanSong_Heavy;
	letter-spacing: 1.5rem;
}

.rules {
	position: absolute;
	left: 2%;
	bottom: calc(96% - 90px - 0.5rem);
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.show_answer {
	position: absolute;
	right: 2%;
	bottom: calc(96% - 90px - 0.5rem);
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.upper_region > div > div > button {
	font-size: 1.5rem;
	color: gray;
	border: none;
	background: none;
}

.answer_region {
	position: absolute;
	left: 2%;
	right: 2%;
	bottom: 30px;
	width: 96%;
	margin: 0;
	height: calc(96% - 90px - 2.5rem);
	padding: 0%;
}

.answer_region > div {
	margin: 0%;
	width: 100%;
	height: calc(100% / 10);
	padding: 0;
	border: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.answer_region > div > div {
	box-sizing: border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
	font-family: SiyuanHei_Medium;
	font-size: 5rem;
	background: white;
	color: gray;
	height: 100%;
	width: calc(100% / 6);
	border-radius: 10px;
	border: 2px gray solid;
	line-height: 100%;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.ans_chars {
	position: absolute;
	left: 2%;
	right: 2%;
	bottom: 30px;
	width: 96%;
	margin: 0;
	height: calc(96% - 90px - 2.5rem);
	padding: 0%;
}

.ans_chars > div {
	box-sizing: border-box;
	margin: 0%;
	width: 100%;
	height: calc(100% / 10);
	padding: 5px 0 0 0px;
	border: 0;
	display: flex;
	font-size: 1.5rem;
	color: gray;
	overflow: hidden;
	align-items: flex-start;
	flex-direction: row;
	writing-mode: vertical-lr;
}

.keyboard_region{
	position: absolute;
	bottom: 45px;
	left: 5%;
	right: 5%;
	background: lightgray;
	height: 400px;
}

.keyboard{
	margin: 2%;
	margin-bottom: 0;
	width: 96%;
	height: 60%;
	padding: 0;
	border: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.keyboard > button {
	font-family: SiyuanHei_Heavy;
	display: inline-block;
	font-size: 250%;
	background: black;
	color: white;
	flex: 0 0 calc(100% / 6);
	height: 50%;
	margin: 0;
	padding: 0;
	border-color: lightgray;
	border-radius: 10px;
}

.other_buttons{
	margin: 2% 2%;
	width: 96%;
	height: 25%;
	padding: 0;
	border: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.other_buttons > button {
	font-family: SiyuanHei_Medium;
	display: inline-block;
	font-size: 250%;
	background: white;
	color: black;
	height: 100%;
	padding: 0;
	margin: 0;
	border-color: lightgray;
	border-radius: 10px;
	flex: 0 0 calc(90% / 4);
}



/* 弹窗 */
.modal {
    display: none; /* 默认隐藏 */
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    -webkit-animation-name: fadeIn; 
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

/* 弹窗内容 */
.modal-content {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: white;
    font-size: 1.5rem;
    text-align: left;
    font-family: SiyuanHei_Medium;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
    height: 70%;
}

/* 关闭按钮 */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: 5%;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
	width: 100%;
	height: 10%;
    padding: 0;
    background-color: gray;
    color: white;
    font-family: SiyuanSong_Heavy;
    font-size: 2rem;
}

.modal-body {
	box-sizing: border-box;
	width: 100%;
	height: 90%;
	padding: 5%;
	font-size: 2rem;
	overflow: scroll;
}

.modal-footer {
	width: 100%;
    background-color: lightgray;
    color: black;
}

/* 添加动画 */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}
